$path: '/assets/fonts/';

@font-face {
  font-family: 'fetance-regular';
  src: url($path + 'fetance_reguler-webfont.woff2') format('woff2'),
  url($path + 'fetance_reguler-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: 'hearth_stone-regular';
  src: url($path + 'hearth_stone-webfont.woff2') format('woff2'),
  url($path + 'hearth_stone-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'times_sans_serif-regular';
  src: url($path + 'timess__-webfont.woff2') format('woff2'),
  url($path + 'timess__-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
